[submodule "AndroidLibXrayLite"]
	path = AndroidLibXrayLite
	url = https://github.com/patterniha/AndroidLibXrayLite
[submodule "hev-socks5-tunnel"]
	path = hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel
